*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

 html {
  scroll-behavior: smooth;
}

body {
  font-family: canada-type-gibson, -apple--apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

svg {
  display: block;
  vertical-align: middle;
}

[disabled] {
  cursor: not-allowed;
}

html,
body,
#root,
#__next,
#__next > div,
.theme-0 {
  height: 100%;
  z-index: 0;
}

#__next {
  position: relative;
  z-index: 0;
}

button,
input,
textarea {
    font-family: canada-type-gibson, -apple--apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-display: swap;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 4px hsla(21, 100%, 91%, 1) inset !important;
  transition: background-color 5000s ease-in-out 0s;
  filter: none;
}



