import React from 'react';

import * as S from './styles';

export type {{pascalCase name}}Props = {
}

export const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => (
  <S.Container>
    <h1>{{pascalCase name}}</h1>
  </S.Container>
);

